body {
  background: #09092c;
  color: #cdecf9;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: red;
}

input {
  color: rgb(105, 99, 99);
  padding: 10px;
  width: 30%;
  margin: 10px;
  left: 5px;
  
  
}

form {
  
}

#output {
  right: 5px;
}

button {
  margin: 10px;
}

select {
  margin: 10px;
}

label {
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
