body {
  background: #09092c;
  color: #cdecf9;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.navbar {
  padding: 1rem;
  display: flex;
  background-color: rgb(114, 202, 158);
}

a {
  color: rgb(136, 1, 1);
  font-weight: bold;
  padding: 5px
}

#input {
  padding: 10px;
  width:49%;
  margin: 10px;
}

#translator-input {
  padding: 10px;
}

#translator-button {
  padding: 10px;
  margin: 10px;
}

.default-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1.1rem;
  width: 25rem;
  height: 40rem;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 1px 2px #cdecf9;
  flex-direction: column;
}
.flipped-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1.1rem;
  width: 25rem;
  height: 40rem;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 1px 2px #cdecf9;
  flex-direction: column;
  background-color: rgb(48, 94, 116);
}

.flashcard-image {
  width: 100%;
  height: auto;
  max-height: 25rem;
}

.flashcard-button {
  height: 80px;
}

.flashcard-delete {
  width: 50px;
  height: 50px;
}

input[type=text], select {
  width: 51%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: larger;
}

button[type=submit], select {
  width: 51%;
  height: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
